 .u-section-1 {
  background-image: url("images/middle.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 299px;
}

.u-section-1 .u-text-1 {
  margin: 50px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 519px;
  margin: 50px auto 21px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 125px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 12px;
}

.u-section-1 .u-text-2 {
  line-height: 1.8;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 1px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 247px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 349px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 164px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 612px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 29px;
    padding-right: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }
} .u-section-2 {
  background-image: url("images/middle.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 707px;
}

.u-section-2 .u-text-1 {
  margin: 55px auto 0 30px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 32px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 423px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px 30px;
}

.u-section-2 .u-text-2 {
  line-height: 25.6px;
  font-weight: 400;
  margin: 1px 74px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 423px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 15px 27px;
}

.u-section-2 .u-text-3 {
  margin: 0 84px 0 1px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 482px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 349px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 349px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 106px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 612px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 29px;
    padding-right: 29px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 206px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-3 {
  background-image: url("images/middle.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 707px;
}

.u-section-3 .u-text-1 {
  margin: 55px auto 0 30px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 32px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 423px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 30px 30px;
}

.u-section-3 .u-text-2 {
  line-height: 25.6px;
  font-weight: 400;
  margin: 1px 74px 0 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 423px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 15px 27px;
}

.u-section-3 .u-text-3 {
  margin: 0 84px 0 1px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 482px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 349px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 349px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 106px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 612px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 29px;
    padding-right: 29px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 206px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-4 {
  background-image: url("images/middle.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 707px;
}

.u-section-4 .u-text-1 {
  margin: 55px auto 0 30px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 32px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 423px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 30px 30px;
}

.u-section-4 .u-text-2 {
  line-height: 25.6px;
  font-weight: 400;
  margin: 1px 74px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 423px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 15px 27px;
}

.u-section-4 .u-text-3 {
  margin: 0 84px 0 1px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 482px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 349px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 349px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 106px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 612px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 29px;
    padding-right: 29px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 206px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-5 {
  background-image: url("images/middle.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 250px;
}

.u-section-5 .u-text-1 {
  margin: 55px auto 0 30px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 32px;
  margin-bottom: 4px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 119px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0 30px 30px;
}

.u-section-5 .u-text-2 {
  line-height: 25.6px;
  font-weight: 400;
  margin: 1px 74px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 185px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 98px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 187px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 612px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 29px;
    padding-right: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-6 {
  background-image: url("images/middle.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 250px;
}

.u-section-6 .u-text-1 {
  margin: 55px auto 0 30px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 32px;
  margin-bottom: 4px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 119px;
}

.u-section-6 .u-container-layout-1 {
  padding: 0 30px 30px;
}

.u-section-6 .u-text-2 {
  line-height: 25.6px;
  font-weight: 400;
  margin: 1px 74px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 132px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 98px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-layout-cell-1 {
    min-height: 612px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 29px;
    padding-right: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-7 {
  background-image: url("images/middle.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-sheet-1 {
  min-height: 250px;
}

.u-section-7 .u-text-1 {
  margin: 55px auto 0 30px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 32px;
  margin-bottom: 4px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 119px;
}

.u-section-7 .u-container-layout-1 {
  padding: 0 30px 30px;
}

.u-section-7 .u-text-2 {
  line-height: 25.6px;
  font-weight: 400;
  margin: 1px 74px 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 132px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 98px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-layout-cell-1 {
    min-height: 612px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 29px;
    padding-right: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}